* {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background-color: #2e3239;
}

header nav{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #222831;
    color: #EEEEEE;
    height: 80px;
    width: 100%;
}

header nav ul {
    display: flex;
    list-style: none;
    width: 80%;
    justify-content: space-between;
}

header nav ul li {
    font-size: 1.5rem;
    text-decoration: none;
    color: #EEEEEE;
}

header nav ul li:hover {
    color: blue;
    text-decoration: none;
    font-size: 2rem;
}

.border{
    display: flex;
    height: 10px;
    background-color: #00ADB5;
}

.intro{
    display: flex;
    height: 600px;
    color: #EEEEEE;
    background-color: #2e3239;
    justify-content: center;
    margin: 10px 0 10px 0;
    padding: 20px 20px ;
}

.title-1 {
    display: flex;
    justify-content: center;
}

.title-2 {
    display: flex;
    justify-content: center;
    color: #00ADB5;
}

.title-3 {
    display: flex;
    justify-content: center;
}

.about{
    display: flex;
    height: 600px;
    color: #EEEEEE;
    background-color: #00ADB5;
}