* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background-color: #00ADB5;
}
header {
    display: block;
    position: fixed;
    width: 100%;
    height: 50px;
}
header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 70%;
    background-color: #222831;
    color: #EEEEEE;
    height: 50px;
    width: 100%;
}

header nav ul {
    display: flex;
    list-style: none;
    width: 80%;
    justify-content: right;
    text-decoration: none;
}

header nav ul li {
    font-size: 20px;
    list-style: none;
    text-decoration: none;
    color: #EEEEEE;
    justify-content: space-between;
    margin: 0 30px;
}

header nav ul li a{
    list-style: none;
    text-decoration: none;
    color: #EEEEEE;
    transition: 2s;
}

header nav ul li a:hover{
    list-style: none;
    text-decoration: none;
    color: #00ADB5;
    transform: scale(2);
}


.border{
    display: flex;
    height: 10px;
    background-color: #00ADB5;
}

.intro{
    display: flex;
    height: 600px;
    color: #EEEEEE;
    background-color: #222831;
    justify-content: left;

    padding: 20px 20px ;
    align-items: center;
}


.title-1 {
    display: flex;
    justify-content: left;
}

.title-2 {
    display: flex;
    justify-content: left;
    color: #00ADB5;
}

.title-3 {
    display: flex;
    justify-content: left;
}

.about{
    display: flex;
    height: 600px;
    color: #222831;
    background-color: #526D82;
    
}

.img--1 {

    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.img--1 img {
    
    height: 400px;
    justify-content: right;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: auto 20px;
    width: 50%;

}

.title--about{

    font-size: 5rem;

}

.paragraph--about p{
    font-size: 35px;
    margin: 20px 0;
    
}

.project--container {
    display: flex;
    height: 600px;
    color: #222831;
    background-color: #9DB2BF;
    flex-direction: column;

}